<html>

<head>
	<meta charset="utf-8">
	<title>Title</title>
	<link rel="stylesheet" href="master.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<script src="https://kit.fontawesome.com/37be63dae0.js" crossorigin="anonymous"></script>

</head>

<body>

	<nav class="navbar navbar-dark bg-dark">

		<img src="logo.png" alt="Logo" class="header">

		<div class="Technologia" aria-labelledby="navbarDropdownMenuLink">
			<a class="dropdown-item" href="#">Komputery</a>
			<a class="dropdown-item" href="#">GSM</a>
			<a class="dropdown-item" href="#">Smart</a>
			<a class="dropdown-item" href="#">Co?</a>
		</div>

		<div class="Kosmos" aria-labelledby="navbarDropdownMenuLink">
			<a class="dropdown-item" href="#">Loty</a>
			<a class="dropdown-item" href="#">Badania</a>
			<a class="dropdown-item" href="#">Wydarzenia</a>
		</div>

		<div class="Internet" aria-labelledby="navbarDropdownMenuLink">
			<a class="dropdown-item" href="#">Wydarzenia</a>
			<a class="dropdown-item" href="#">Nowości</a>
			<a class="dropdown-item" href="#">Meme</a>
			<a class="dropdown-item" href="#">Co?</a>
		</div>

	</nav>

	
