<%- include("header"); -%>
<div class="container-fluid">
	<div class="icon-bar">
		<a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
		<a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
		<a href="#" class="google"><i class="fa fa-google"></i></a>
		<a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
		<a href="#" class="youtube"><i class="fa fa-youtube"></i></a>
	</div>

	<div class="main row">



		<div class="card-columns col-8">



			<%- include("cards") -%>


		</div>
		<div class="col-4 side" style="padding: 5px;">
			<ul class="list-group ">
	  <li class="list-group-item list-group-mine" aria-disabled="true">Cras justo odio</li>
	  <li class="list-group-item list-group-mine">Dapibus ac facilisis in</li>
	  <li class="list-group-item list-group-mine">Morbi leo risus</li>
	  <li class="list-group-item list-group-mine">Porta ac consectetur ac</li>
	  <li class="list-group-item list-group-mine">Vestibulum at eros</li>
	</ul>
		</div>

	</div>
</div>

<%- include("footer"); -%>
